<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>

<link rel="stylesheet" href="/static/accounts/style.css">

</head>
<body>

<form method="POST" action="">
    {% csrf_token %}
	<div class="title" > Signup </div>
	<label for="username"> Username </label>
    <div>
        <input id="username" type="text" name="username" value="{{ request.POST.username }}">
    </div>
    <label for="password"> Password </label>
    <div>
        <input type="password" id="password" name="password">
    </div>
    <label for="password"> Repeat password </label>
    <div>
        <input type="password" id="password2" name="password2"><br>
        <span id="error" style="color: red">
            {% if errors %}
                There are {{ errors|length }} errors:
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </span>
        <span id="success" style="color: green"></span>
    </div>
    <button > submit </button>
</form>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
	function check(){
		const password = $("#password").val(); // getter
		const password2 = $("#password2").val(); //getter
        
        if (password !== password2){
			$("#error").html("Passwords do not match");
            $("#success").html("");
		}
        else
        	$("#error").html(""); 
        
		return false;
	    
	}
    
    $("#password").keyup(check);
    $("#password2").keyup(check);

	$("form").submit(function(){
        return true;
		if ($("#error").html())
        	return false;
		
//        $.ajax({
//        	method: 'POST',
//            url: 'http://localhost:8000/signup/',
//            data: {
//				username: $("#username").val(),
//                password: $("#password").val(),
//			},
//            success: function(data){
//				$("#success").html(data);
//			}
//        });

        return true;
	});

</script>

</body>
</html>




